body{
    background-color: rgb(176, 94, 218);
    font-family:Arial, Helvetica, sans-serif;
}
#container{
   background-color:rgb(176, 94, 218);
   display: grid; 
   gap:50px;
   justify-content: center;
   padding-top: 100px;
}
#newtask{
    background-color: white;
    color:rgb(114, 108, 108);
    display: grid;
    gap:20px;
    padding: 20px 40px ;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items:center;
    height:100px;
    width:400px;
    border-radius: 4px;
}
#task{
    height: 40px;
    border-radius: 4px;
    opacity: 0.5;
    padding-left:10px;
}
#submit{
    height: 46px;
    border-radius: 4px;
    font-size:20px;
    font-weight: bold;
    padding: 10px;
    background-color:rgb(150, 70, 189);
    color: white;
}

#tasks{
    background-color: white;
    color:black;
    display: grid;
    justify-content: center;
    justify-items: center;
    display: none;
}