*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
body{
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
}
#container{
  /* background-color:rgb(176, 94, 218);
   background-image:linear-gradient(to right,rgb(100, 40, 131),rgb(188, 154, 205));*/
   margin: 100px auto 20px;
   background-color:blueviolet;
   border-radius:10px;
   display: grid; 
   gap:30px;
   height:auto;
   width: 600px;
}
#newtask{
    background-color: white;
    
    display: flex;
    min-height:100px;
    width:100%;
    justify-content: space-between;
    padding:40px auto 40px;
    /*gap:20px;
    padding: 20px 40px ;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    */
    
    border-radius: 10px;
}
#task{
    height:auto;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
    border-radius: 30px;
    opacity: 0.7;
    font-size: 20px;
    align-self: center;
    color:rgb(134, 117, 142);
}
#submit{
    border: none;
    outline: none;
    border-radius: 30px;
    font-size:16px;
    margin:20px;
    padding:10px 50px;
    background-color:blueviolet;
    color: white;
   
}

#tasks{
    background-color: white;
    color:black;
    align-items:space-evenly;
    height: auto;
    padding: 20px;
    display: none;
    border-radius: 10px;
}
#tasklist{
    height: auto;
    grid-template-columns: 1fr;
    align-items:space-evenly;
   
}
#tasklist{
    border-radius: 10px;
    font-size:20px;
    background-color:rgb(255, 255, 255);
    color: rgb(19, 10, 10);
    display: none;
    position: relative;
}
#tasklist button{
    height:48px;
    width:100%;
    padding: 0px 20px;
    background-color: rgb(254, 254, 254);
    color:rgb(134, 117, 142);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline:none;
    text-align: start;
}
#tasklist button::before{
    content:'';
    background-color: rgb(252, 252, 252);
    height: 20px;
    width: 20px;
    position: absolute;
    left:-10px;
    border:2px solid black;
    border-radius: 50%;
}

