body{
    background-image:linear-gradient(to right,rgb(98, 49, 123),rgb(132, 32, 182));
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
#container{
  /* background-color:rgb(176, 94, 218);
   background-image:linear-gradient(to right,rgb(100, 40, 131),rgb(188, 154, 205));*/
   display: grid; 
   gap:50px;
   justify-content: center;
}
#newtask{
    background-color: white;
    color:rgb(114, 108, 108);
    display: grid;
    gap:20px;
    padding: 20px 40px ;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items:center;
    height:100px;
    width:400px;
    border-radius: 10px;
}
#task{
    height: 40px;
    border-radius: 10px;
    opacity: 0.5;
    padding-left:10px;
}
#submit{
    height: 46px;
    border-radius: 10px;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color:rgb(150, 70, 189);
    color: white;
}

#tasks{
    background-color: white;
    color:black;
    align-items:space-evenly;
    height: auto;
    padding: 20px;
    display: none;
    border-radius: 10px;
}
#tasklist{
    height: auto;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items:space-evenly;
   
}
#tasklist{
    border-radius: 10px;
    font-size:20px;
    padding: 10px;
    background-color:rgb(255, 255, 255);
    color: rgb(19, 10, 10);
    display: none;
    position: relative;
}
button{
    height:48px;
    width:100%;
    padding-left: 20px;
    background-color: rgb(254, 254, 254);
    color:rgb(43, 37, 46);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: 0px;
    box-shadow: 0px 1px 10px 0px rgb(38, 7, 51);
    text-align: start;
}

